{% extends "appFrontend/indexMaster.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        {% for prod in productos %}
        <div class="col-md-3">
            <div class="card mb-3" style="max-width: 540px; margin: 10px 10px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ prod.imagen.url }}" class="img-fluid rounded-start" alt="..." >
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{prod.nombre}}</h5>
                            <p class="card text">{{prod.precio}}&nbsp; $</p>
                            <p class="card-text">{{prod.descripcion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}