# Entorno virtual
venvDj/
.venvDj/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de logs
*.log

# Archivos de configuración de editor
.vscode/
.idea/
