{% extends "appFrontend/indexMaster.html" %}
{% load static %}
{% block content %}
<style>
    .formulario {
        background-color: #f2f2f2;
        width: 50%;
        margin: 20px auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    }

    .formulario h2 {
        text-align: center;
        color: #333;
    }
</style>

<div class="formulario">
    {% if "okEnviado" in request.GET %}
        <div class="alert alert-success">Tu mensaje se ha enviado correctamente.</div>
    {% elif "failNoEnviado" in request.GET %}
        <div class="alert alert-danger">Ha ocurrido un error al enviar tu mensaje. Por favor, inténtalo de nuevo.</div>
    {% endif %}

    {% if "errorFormulario" in request.GET %}
        <div class="alert alert-warning">Por favor, completa todos los campos del formulario.</div>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table style="margin: 20px auto;">{{miformulario.as_table}}</table>
        <input type="submit" value="Enviar" class="btn btn-primary">
    </form>
</div>

{% endblock %}